<% content_for :title, "Trips" %>
<h1 class="mt-3 text-center">Trips</h1>
<!-- Tab Navigation -->
<div class="d-flex justify-content-center">
  <ul class="nav nav-underline" id="trip-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="current-tab" data-bs-toggle="tab" href="#current">Upcoming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="past-tab" data-bs-toggle="tab" href="#past">Past</a>
    </li>
  </ul>
</div>
<!-- Tab Content -->
<div class="tab-content" id="trip-tabs-content">
  <!-- Current trips Tab -->
  <div class="tab-pane fade show active" id="current">
    <div class="row d-flex justify-content-center g-3 row-cols-2 row-cols-lg-3 row-cols-xl-4 mt-5">
      <% @current_trips.each do |trip| %>
        <%= render 'shared/item_card', item: trip %>
      <% end %>
    </div>
  </div>
  <!-- Past trips Tab -->
  <div class="tab-pane fade" id="past">
    <div class="row d-flex justify-content-center g-3 row-cols-2 row-cols-lg-3 row-cols-xl-4 mt-5">
      <% @past_trips.each do |activity| %>
        <%= render 'shared/item_card', item: activity %>
      <% end %>
    </div>
  </div>
</div>
