<% content_for :title, "New media mention" %>

<h1>New media mention</h1>

<%= render "form", media_mention: @media_mention %>

<br>

<div>
  <%= link_to "Back to media mentions", media_mentions_path %>
</div>
