<% if item.general_registration_start.present? %>
  <% if Time.current > item.end_date %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-danger fs-5" style="pointer-trips: none;">
        Registration Closed
      </span>
    </p>
  <% elsif Time.current < item.general_registration_start %>
    <p class="registration-info text-center fs-5">
      <% if item.early_access_for_members %>
        Member Registrations Now Open </br> General Registration Opens In:
    <% else %>
      General Registration Opens In:
    <% end %>
    <% time_remaining = item.general_registration_start - Time.current %>
    <strong><%= ChronicDuration.output(time_remaining, :days => true,:units => 2) %></strong>
  </p>
<% else %>
  <% if item.registrations.count >= item.capacity %>
    <p class="registration-info text-center ">
      <span class="btn btn-outline-primary fs-5" style="pointer-trips: none;">
        SOLD OUT
      </span>
    </p>
  <% else %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-success fs-5" style="pointer-trips: none;">
        General Registration Open!
      </span>
    </p>
  <% end %>
<% end %>
<% end %>
