<div class="col">
  <div class="card h-100">
    <% if leader.image.attached? %>
  <%= image_tag leader.image, class: "card-img-top", alt: leader.name %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= leader.name %></h5>
      <p class="card-subtitle text-muted"><%= leader.position %></p>
      <p class="card-text"><%= leader.description %></p>
    </div>
  </div>
</div>
