<div class="registration-actions text-center mt-3">
  <% if registrable.end_date.present? && Time.current > registrable.end_date %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-danger" style="pointer-trips: none;">
        Registration Closed
      </span>
    </p>
  <% elsif (registrable.early_access_for_members? && current_user&.membership_active?) || registrable.general_registration_open? %>
    <% if registrable.present? %>  <!-- Check if registrable is present -->
      <% if registrable.cost.to_i > 0 %>
        <!-- Paid: Redirect to Payments -->
        <%= button_to "Register and Pay", 
                  polymorphic_path([registrable, :payments], paymentable_type: registrable.class.name, paymentable_id: registrable.id), 
                  method: :post, class: "btn btn-primary mb-3", data: { turbo: false } %>
      <% else %>
        <!-- Free: Direct Registration -->
        <%= button_to "Register", 
                  polymorphic_path([registrable, :registrations], registrable_type: registrable.class.name, registrable_id: registrable.id), 
                  method: :post, class: "btn btn-primary mb-3", data: { turbo: false } %>
      <% end %>
    <% end %>
  <% else %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-secondary" style="pointer-trips: none;">
        Registration Not Yet Open
      </span>
    </p>
  <% end %>
</div>
