<h1> Events </h2>

<div class="events-section">
  <!-- Card 1: Events -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Event</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 2: Events -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Event</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 3: Events -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Event</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>
  
</div>
