<% content_for :title, "About Us" %>
<h1 class="text-center mt-3">About Us</h1>
<div class="container my-5 about">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!-- Mission Section -->
      <div class="mission mb-5">
        <h2 class="text-center mb-4">Our Mission</h2>
        <p class="lead text-center">
          <%= @about.mission %>
        </p>
      </div>
      <!-- Vision Section -->
      <div class="vision mb-5">
        <h2 class="text-center mb-4">Our Vision</h2>
        <p class="lead text-center">
          <%= @about.vision %>
        </p>
      </div>
      <!-- Founder Section -->
      <div class="founder-box">
        <h2 class="text-center mb-4">About the Founder</h2>
        <div class="about-image  text-center mb-4">
          <img src="https://i0.wp.com/sahanjournal.com/wp-content/uploads/2024/10/NasireenHabib-7435.jpg?resize=1200%2C800&ssl=1" 
               alt="Founder Image" 
               class="img-fluid rounded">
        </div>
        <p class="lead text-center">
          <%= @about.founder %>
        </p>
      </div>
    </div>
  </div>
</div>
