<head>
  <title>Amanahrec - About Us</title>
  <link rel="stylesheet" href="/assets/about.css">
</head>
<div class="about-page">
  <div class="mission">
    <h2>Our Mission</h2>
    <p>
      Our mission is to revive spiritual values of environmental sustainability through recreational activities and 
      provide support to those impacted by climate change, guided by our core spiritual principles.
    </p>
  </div>

   <div class="vision">
    <h2>Our Vision</h2>
    <p>
      Our vision is to foster a sustainable future for people and planet by upholding the trust to protect and 
      care for creation through meaningful exploration and appreciation rooted in stewardship.
    </p>
  </div>

  <div class="founder-box">
    <div>
      <h2>About the Founder</h2>
        <div class="about-image my-5">
        <img src="https://i0.wp.com/sahanjournal.com/wp-content/uploads/2024/10/NasireenHabib-7435.jpg?resize=1200%2C800&ssl=1" alt="Founder Image">
      <p>
        Nasrieen Habib, founder and CEO of Eco Jariyah. I am a passionate advocate for sustainable living and community building.
        Living in North Minneapolis with my family, I am deeply committed to representing Muslims in the outdoors and promoting
        conscientious consumerism. With a passion for advocacy around environmental sustainability using Islamic values of Quran
        and Sunnah, I established Eco Jariyah to combine my values with my vision for a more inclusive and sustainable world.
        My entrepreneurial spirit is reflected in my dedication to ethical sourcing, fair trade practices, and giving back
        to global communities through the Amanah Recreational Project and ARAHA. My leadership and commitment have built a brand
        recognized for its social responsibility and positive impact. Through Eco Jariyah, I aim to empower the Muslim community
        by providing modest, multipurpose casual wear that aligns with our values and needs.
      </p>
  </div>
</div>
