<!DOCTYPE html>
<html>
  <head>
    <title>Amanahrec - About Us</title>
    <link rel="stylesheet" href="/assets/pages.css">
  </head>
  <body>
    <div class="about-page">

      <div class="mission">
        <h2>Our Mission</h2>
        <p>
          Our name, Eco Jariyah, reflects our mission. “Jariyah” means continuous charity in Arabic,
          and that’s exactly what we aim to do—make a lasting positive impact. We offer modest, eco-friendly products,
          from organic cotton apparel to recycled fabric accessories, all crafted with care and integrity.
          We’re committed to fair trade practices, ensuring that every step of our production process aligns with our ethical standards.
        </p>
      </div>

      <div class="founder-box">
        <div>
          <h2>About the Founder</h2>
          <p>
            Nasrieen Habib, founder and CEO of Eco Jariyah. I am a passionate advocate for sustainable living and community building.
            Living in North Minneapolis with my family, I am deeply committed to representing Muslims in the outdoors and promoting
            conscientious consumerism. With a passion for advocacy around environmental sustainability using Islamic values of Quran
            and Sunnah, I established Eco Jariyah to combine my values with my vision for a more inclusive and sustainable world.
            My entrepreneurial spirit is reflected in my dedication to ethical sourcing, fair trade practices, and giving back
            to global communities through the Amanah Recreational Project and ARAHA. My leadership and commitment have built a brand
            recognized for its social responsibility and positive impact. Through Eco Jariyah, I aim to empower the Muslim community
            by providing modest, multipurpose casual wear that aligns with our values and needs.
          </p>
        </div>
        
        <img src="https://images.squarespace-cdn.com/content/v1/66b2753b75b8187cb9057ba3/d20e2ee1-7964-4f01-9562-e2f96d9c10fb/IMG_4614.jpg?format=2500w" alt="Founder Image">
      </div>

      <div class="vision">
        <h2>Our Vision</h2>
        <p>
          Our designs are inspired by the beauty of nature, encouraging a deeper appreciation for the outdoors.
          We’re more than just a brand; we’re a community. We support local initiatives and contribute to global causes
          through our Amanah Recreational Project. We believe it’s essential for Muslims to feel represented in outdoor spaces.
        </p>
      </div>
    </div>
  </body>
</html>
