<% content_for :title, "Meet Our Board" %>
<h1>Meet Our Board</h1>

<div class="board-container">
  <div class="board-card" style="background-image: url('<%= asset_path('nasrieen.jpg') %>');">
    <div class="board-member-info">
      <h2>Nasrieen Habib</h2>
      <p>Founder & CEO</p>
    </div>
  </div>

  <div class="board-card" style="background-image: url('<%= asset_path('makiya.jpg') %>');">
    <div class="board-member-info">
      <h2>Makiya Amin</h2>
      <p>Volunteer Coordinator</p>
    </div>
  </div>

  <div class="board-card" style="background-image: url('<%= asset_path('amal.jpg') %>');">
    <div class="board-member-info">
      <h2>Amal Mohamed</h2>
      <p>Project Manager</p>
    </div>
  </div>

  <div class="board-card" style="background-image: url('<%= asset_path('rose.jpg') %>');">
    <div class="board-member-info">
      <h2>Rose Youngmark</h2>
      <p>Development Director</p>
    </div>
  </div>
</div>
