<% content_for :title, "Our Partners" %>
<h1 class="text-center my-3">Our Partners</h1>
<div class="row justify-content-center gap-3 mb-3">
  <% @partners.each do |partner| %>
    <div class="col-auto d-flex justify-content-center">
      <div class="partner-logo">
        <% if partner.logo.attached? %>
          <% if partner.link.present? %>
            <%= link_to sanitize(partner.link), target: "_blank", rel: "noopener noreferrer" do %>
              <%= image_tag partner.logo, alt: partner.name, class: "img-fluid", style: "height: 150px;" %>
            <% end %>
          <% else %>
            <%= image_tag partner.logo, alt: partner.name, class: "img-fluid", style: "height: 150px;" %>
          <% end %>
        <% else %>
          <p>No Logo Available</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>