<% content_for :title, "Our Partners" %>
<h1 >Our Partners</h1>
<div class="d-flex flex-wrap gap-3 justify-content-center py-3">
  <a href="https://araha.org/" target="_blank" rel="noopener noreferrer">
    <img src="https://araha.org/wp-content/uploads/2024/02/araha_logo_orange_bg-removebg-preview.png" 
           alt="ARAHA" class="img-fluid" style="max-height: 100px;">
  </a>
  <a href="https://www.revivingsisterhood.org/" target="_blank" rel="noopener noreferrer">
    <img src="https://images.squarespace-cdn.com/content/v1/56c530d8f8508295e6c5292e/1559093355869-27EH28K65OGSMGHWWEQ2/logo.png?format=500w" 
           alt="RISE" class="img-fluid" style="max-height: 100px;">
  </a>
  <a href="https://www.loppet.org/" target="_blank" rel="noopener noreferrer" id="loppet">
    <img src="https://www.loppet.org/wp-content/themes/loppet/img/logo-header-4.png" 
           alt="Loppet" class="img-fluid" style="max-height: 100px; filter: grayscale(100%) brightness(0) contrast(100%);">
  </a>
  <a href="https://www.bikemn.org/" target="_blank" rel="noopener noreferrer">
    <img src="https://www.bikemn.org/wp-content/themes/bikemn-theme/images/bike-mn-logo.png" 
           alt="BikeMN" class="img-fluid" style="max-height: 100px;">
  </a>
  <a href="https://www.paddlebridge.com/" target="_blank" rel="noopener noreferrer">
    <img src="https://images.squarespace-cdn.com/content/v1/5ae8b4477e3c3ace1e2b48c5/9efe95d0-48d4-43ad-a535-36a0f127a8c3/2023+Badge+Sticker+%28Access-Stewardship-Excellence%29+%283+%C3%97+3+in%29+%282%29.png" 
           alt="Paddle Bridge" class="img-fluid" style="max-height: 100px;">
  </a>
  <a href="https://minneapolisboulderingproject.com/" target="_blank" rel="noopener noreferrer">
    <img src="https://boulderingproject.com/wp-content/themes/sleepify/assets/images/logo--black-sm.svg" 
           alt="Minneapolis Bouldering Project" class="img-fluid" style="max-height: 100px;">
  </a>
</div>
</div>
