<% content_for :title, "Our Sponsors" %>
<h1 class="text-center mt-3">Our Sponsors</h1>
<div class="container mt-5">
  <div class="row justify-content-center gap-3">
    <% @sponsors.each do |sponsor| %>
      <div class="col-auto d-flex justify-content-center">
        <div class="sponsor-logo">
          <% if sponsor.logo.attached? %>
            <% if sponsor.link.present? %>
              <%= link_to sponsor.link, target: "_blank" do %>
                <%= image_tag sponsor.logo, alt: sponsor.name, class: "img-fluid", style: "height: 200px;" %>
              <% end %>
            <% else %>
              <%= image_tag sponsor.logo, alt: sponsor.name, class: "img-fluid", style: "height: 200px;" %>
            <% end %>
          <% else %>
            <p>No Logo Available</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
