<% content_for :title, "Boards" %>
<h1 class= "mt-3 text-center">Our Board Members</h1>
<% if current_user&.admin? %>
  <div class="d-flex justify-content-center mb-3">
    <%= link_to "Add a New Board Member", new_board_path, class: 'btn btn-primary' %>
  </div>
<% end %>
<div class="row row-cols-1 row-cols-lg-2 g-4 mb-3">
  <% @boards.each do |board| %>
    <%= render board %>
  <% end %>
</div>
