<h1 class="heading">Amanah Rec Latest News...</h1>

<div class="image-container">
  <img src="https://voyageminnesota.com/wp-content/uploads/2024/08/c-1722429958481-nasrieen_habib_dsc09767.jpg" alt="Image Description" class="news-image">
</div>

<div class="square-container">
  <div class="square">
    <h2 class="title">Kare 11</h2>
    <p class="description">Description here</p>
    <h2 class="title">REI</h2>
    <p class="description">Description here</p>
  </div>
</div>
