<div class="outer-box">
  <div class="inner-box">
    <h1>Media Title</h1>
    <p>Media content will appear here. This is where you display detailed information about a media item.</p>
    <%= link_to "Back to Media List", media_path %>
  </div>
</div>
