.btn-primary {
  background-color: #403f2b !important; /* Dark Brown */
  color: #E9E2D8 !important; /* Light Beige */
  border: none !important;
  padding: 10px 15px !important;
}

.activity-image {
  height: 500px !important; 
  object-fit: cover;
}

.activity-card {
  background-color: #57573f !important; /* Dark brown */
  color: #E9E2D8 !important; /* Light beige text */
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.activity-card .card-title a {
  color: #E9E2D8 !important; /* Ensure titles contrast well */
  text-decoration: none;
}

.activity-card .card-text {
  color: #E9E2D8 !important; /* Make text readable on dark background */
}

.activity-card .btn-warning {
  background-color: #E9E2D8 !important; /* Use light beige */
  color: #403f2b !important;
  border: none;
}

.activity-card .btn-danger {
  background-color: #d9534f !important; /* Keep default red */
  color: white;
}

/* Margin to ensure spacing between cards */
.activity-card {
  margin-bottom: 1.5rem !important;
}

.countdown {
  font-size: 1.2rem;
  color: #E9E2D8 !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 0.5rem;
}

.registration-info {
  font-size: 1rem;
  color: #E9E2D8 !important;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0.5rem;
}
