/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar 
 */


/* Ensure full height layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e9e2d8 !important;
    color: #403f2b !important;
  }
  
  /* Main content should expand to push the footer down */
  .main-content {
    flex: 1;
  }
  
  /* Primary button styling */
  .btn-primary {
    background-color: #403f2b !important; /* Dark Brown */
    color: #e9e2d8 !important; /* Light Beige */
    border: none !important;
  }
  
  /* Event and Activity image styling */
  .event-image-preview,
  .activity-image-preview {
    height: 300px !important;
    display: block;
    margin: 0 auto; /* Centers the image */
    object-fit: cover; /* Ensures consistent sizing without distortion */
  }
  
  /* Devise login page background */
  .devise-login-page {
    background-color: #ffffff !important;
  }
  

  /* Custom button styling for 'View Full Article' */
.btn-custom {
    background-color: #57573F !important; /* Muted Green */
    border-color: #57573F !important;
    color: #E9E2D8 !important;
    padding: 10px 15px;
    text-align: center;
    width: fit-content;
  }
  
  .btn-custom:hover {
    background-color: #403F2B !important; /* Dark Brown */
    border-color: #403F2B !important;
    color: #DACCB1 !important;
  }
  
  /* Ensure consistent card styling */
  .custom-card {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-footer {
    background-color: #DACCB1 !important; 
    border-top: none;
  }
  .news-text {
    color: #daccb1 !important; /* Dark brown */
    font-size: 16px; /* Adjust size if needed */
  }

  .about p {
    margin-bottom: 30px;
    line-height: 2;
    text-align: center;
}
h4.card-title a {
    color: #403F2B;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  h4.card-title a:hover {
    color: #57573F;
  }


  .card-text {
    color: #403f2b !important;
  }
  
  .card-title {
    color: #403f2b !important;
  }
  
  .card-body .fa-calendar-alt, 
  .card-body .fa-map-marker-alt, 
  .card-body .fa-money-bill {
    color: #403f2b !important;
  }