/* trip and activity styling */
.trip {
  background-color: #E9E2D8;
}

.activity {
  background-color: #9cb691;
}

/* Styling for trip and activity titles */
.trip-title, .activity-title {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
}

.trip-time, .activity-time {
  color: #5c5c5c;
}

/* Calendar container styling */
.calendar {
  background-color: #DACCB1;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Hover effects for trip/activity boxes */
.trip:hover, .activity:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Today link styling */
.today-link {
  position: relative;
  top: -10px;
  color: #40402e;
  text-decoration: none;

  display: block;
  text-align: center;
  transition: color 0.3s ease;
}

.today-link:hover {
  color: #928c73;
}

/* Styling for the today calendar container */
.calendar-today-container {
  text-align: center;
  margin-top: 10px;
}

.calendar-heading {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
}

.prev-link-container, .next-link-container {
  display: flex;
  align-items: center; /* Vertically center the arrows */
}
