/* Scoped to events index page */
.events-index-container .btn-primary {
  background-color: #403F2B !important; /* Dark Brown */
  color: #E9E2D8 !important; /* Light Beige */
  border: none !important;
  padding: 10px 15px !important;
  font-size: 16px !important;
  text-decoration: none !important;
  border-radius: 5px !important;
}

.events-index-container .btn-primary:hover {
  background-color: #57573F !important; /* Olive Green on Hover */
}

.events-index-container .event-image {
  height: 500px !important;
  object-fit: cover;
}
