footer.footer-custom {
  background-color: #403f2b;
  color: #E9E2D8;
  text-align: center;
  padding: 1rem;
}

.footer-custom a[href^="mailto:"] {
  color: #E9E2D8 !important; 
  text-decoration: none; 
}
.footer-custom a[href^="mailto:"]:hover {
  text-decoration: underline; /* Underline email on hover */
}

.footer-custom i {
  color: #E9E2D8;
}