.custom-card {
  width: 100%;
  min-height: 100%; /* Ensure cards are aligned properly */
}

/* Adjust the spacing between cards */
.row-cols-md-3 .col {
  padding: 0.5rem; /* Reduces the gap between cards */
}

/* Fine-tune the gap between grid columns */
.g-2 {
  gap: 2rem; /* Adjusts the column spacing between cards */
}

/* Button Styles */
.btn-sm {
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.edit-button {
  background-color: #909d6e;
  color: black;
  text-decoration: none;
  border-color: #909d6e;
}

.edit-button:hover {
  background-color: #93aa84;
  font-weight: bold;
}

.delete-button {
  background-color: #95826a;
  border-color: #95826a;
}

.delete-button:hover {
  background-color: #a79c87;
  font-weight: bold;
} 

.create-post-button {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: white;
}

.create-post-button:hover {
  background-color: #e4d25e;
  font-weight: bold;
}
