.custom-card {
  width: 120%;
  min-height: 100%; /* Ensure cards are aligned properly */
  background-color: #DACCB1;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.equal-height-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;  
}

.g-2 {
  gap: 20rem; /* Adjusts the column spacing between cards */
}

/* Button Styles */
.btn-sm {
  padding: 5px 10px;
  border-radius: px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.edit-button {
  background-color: #909d6e;
  color: black;
  text-decoration: none;
  border-color: #909d6e;
}

.edit-button:hover {
  background-color: #93aa84;
  font-weight: bold;
}

.delete-button {
  background-color: #95826a;
  border-color: #95826a;
}

.delete-button:hover {
  background-color: #a79c87;
  font-weight: bold;
} 

.create-post-button {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: rgb(26, 26, 26);
}

.create-post-button:hover {
  background-color: #e4d25e;
  font-weight: bold;
}
