body {
  background-color: #E9E2D8; 
  font-family: "Tahoma", sans-serif; 
  color: #403F2B; 
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  font-size: 1.5em;
  color: #403F2B;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: "Tahoma", sans-serif;
}

.heading::after {
  content: '';  
  display: block;
  width: 30%;   
  margin: 10px auto 0; 
  border-bottom: 2px solid #c7ba9c; 
}

.news-image {
  display: block; 
  margin: 30px auto; 
  max-width: 35%; 
}

.square-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.square {
  background-color: #DACCB1; 
  width: 60%;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Tahoma", sans-serif;
}

.square h2,
.square p {
  font-family: "Tahoma", sans-serif;
  color: #403F2B; 
}

.square:hover {
  background-color: #eedfc2;
  transition: all 0.5s ease-in-out;
}

.title {
  font-size: 2em;
  text-align: left;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 20px;
}