.heading {
  text-align: center;
  font-size: 2em;
  color: #57573F;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.heading::after {
  content: '';  
  display: block;
  width: 30%;   
  margin: 10px auto 0; 
  border-bottom: 2px solid #57573F; 
}

.news-image {
  display: block; 
  margin: 20px auto; 
  max-width: 50%; 
}

body {
  background-color: #f0f0f0;  
}

.square-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.square {
  background-color: #e9e2d8; 
  width: 80%; 
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px; 
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}
