<h1> Activities </h1>

<div class="activities-section">
  <!-- Card 1: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 2: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 3: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>
  
  <!-- Card 3: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 3: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>

  <!-- Card 3: Activities -->
  <div class="card">
    <!-- place activties image tag -->
    <h3>Activities</h3>
    <p>Find fun adventures and ways to get involved!</p>
  </div>
</div>
