<h1>Testimonials</h1>

<% @testimonials.each do |testimonial| %>
  <div>
    <p><%= testimonial.text %></p>
    <small>By: <%= testimonial.user.first_name %> <%= testimonial.user.last_name %></small>

    <% if current_user&.role&.name == 'admin' %>
  <% if !testimonial.approved? %>
    <p>Status: Pending Approval</p>
    <%= button_to "Approve", approve_testimonial_path(testimonial), method: :patch, class: "btn btn-success" %>
  <% else %>
    <p>Status: Approved</p>
  <% end %>
<% else %>
<% end %>

  </div>
  <hr>
<% end %>

