<h1>Submit a Testimonial</h1>

<%= form_with model: @testimonial, local: true do |f| %>
  <div>
    <%= f.label :text, "Your Testimonial" %>
    <%= f.text_area :text, rows: 5 %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
