<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer-custom">
  <div class="col-md-4 d-flex align-items-center ms-3">
    <span class="mb-3 mb-md-0">© 2025 Amanah Recreation Project</span>
  </div>
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-envelope me-2"></i>
    <a href="mailto:info@amanahrec.org">info@amanahrec.org</a>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= button_to "Become a Member!", 
                payments_path(paymentable_type: "Membership", paymentable_id: current_user.id), 
                method: :post, 
                class: "btn become-member",  data: { turbo: false } %>
    <% else %>
      <%= link_to "Become a Member!", new_user_session_path, class: "btn become-member" %>
    <% end %>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    Follow us
    <li class="mx-3"> <a href="https://www.instagram.com/amanahrec/" role="button">
        <i class="fab fa-instagram fa-lg"></i>
      </a></li>
    <li class="mx-3"><a href="https://www.facebook.com/profile.php?id=61550329167641" role="button">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a></li>
    <li class="mx-3"><a href="https://www.tiktok.com/@amanahrec" role="button">
        <i class="fab fa-tiktok fa-lg"></i>
      </a></li>
  </ul>
</footer>
